:root {
  --color-nav: gray;
  --color-enfasis: #3B3B3B;
  top: 0;
  left: 0;
  text-align: center;
  overflow-x: hidden;

  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url("./assets/background.jpg");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

/*Mi codigo?*/
.material-symbols-outlined{
  color: rgba(0, 0, 0, 0.54);
  font-size: 36px;
  transition: 0.12s ease-in-out;
}

.material-symbols-outlined:hover{
  cursor: pointer;
  color: rgba(0, 0, 0, 1);
  transform: scale(1.14);
}

.nav {
  background-color: var(--color-nav);
  box-shadow: 0px 8px 7px rgb(80, 80, 80);
  padding: 10px 0px 12px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegura que esté en la capa superior */
}


input{
  padding: 0.8em 0 0.8em 0.7em;
  width: 30%;
  border-radius: 6px;
  box-sizing: border-box;
}

input::placeholder{
  color:rgba(255, 255, 255, 0.3);
}

input:focus{
  padding: 0.8em 0 0.8em 0.7em;
  border: 1px solid #ccc; /* Vuelve a agregar el borde */
  outline: none;
}

input:hover::placeholder{
  color:rgba(255, 255, 255, 1);
  transition: color 0.12s ease-in-out;
}

.botonAdd{
  position: relative;
  color:rgba(255, 255, 255, 0.3);
  transform: translateX(-110%)
}

.botonAdd:hover{
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  transform: scale(1) translateX(-110%);
}

.containerCards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 16px;
  padding: 20px 40px 20px 0px;
}

.Card{
  background-color: rgba(255, 255,255, 0.6);
  color: black;
  padding: 0.7rem;
  border: solid 2px black;
  border-radius: 4px;
  transition: 0.12s ease-in-out;
  
}

.Card:hover{
  transform: scale(1.015);
  box-shadow: 5px 9px 5px rgb(37, 37, 37);
}

.loginContainer {
  padding: 1em 3em 2em 3em;
  border-radius: 3px;
  background-color: var(--color-nav);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 13px 9px 7px rgb(37, 37, 37);
}

.loginContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.loginContainer div {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.loginContainer input {
  width: 100%;
}

.loginContainer button {
  color:rgba(255, 255, 255, 0.3);
  border: none;
  padding: 0.3em;
  border-radius: 100%;
  background: var(--color-enfasis);
  cursor: pointer;
}

.loginContainer button:hover {
  color:rgba(255, 255, 255, 1);
}

.warning{
  border: solid red 1px;
}

.danger{
  color: red;
}
/*fin de Mi codigo?*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
